body{
    background: linear-gradient(to right, rgb(69, 249, 255, 0.8), rgb(117, 117, 238, 0.8));
    display: grid;
    grid-template-columns: (3,auto);
}

#main{
    margin: auto;
    min-width: 200px;
    padding: 25px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

button{
    border-radius: 10px;
    font-size: 25px;
    background-color: rgb(60, 60, 60, 0.8);
    font-weight: bold;
    border-color: transparent;
}

button:hover{
    scale: 1.1;
    cursor: pointer;
    animation: backwards;
    background-color: rgb(149, 111, 219);
    color: bisque;
}
#content{
    display: flex;
    flex-direction: column;
}

input{
    background-color: rgba(42, 42, 42, 0.5);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(254, 197, 123);
    border-color: transparent
    
}